.Header {
  padding: 12px 0 16px 0;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(234, 167, 185, 0.19);
  &__container {
    max-width: 992px;
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 36px;
    color: #FFE5FE;
    text-shadow: 3px 3px #FB81D2;
  }
}
